@media (max-width:460px) 
{
     /*Когато размерите на приложението при определен екран е максимално до 460px ширина при елемента div.focusfon в него елементите p.text да са с размери на шрифта на текста 20px и да могат да се преместват различно по ширина, а по височина да не се премества. Елемента  h1.heading ще се премества по ширина, а не по височина и размерите на шрифта е 30px. А на елементите p.ah и p.bh да имат граница на височината 20px и да се премества различно по ширина и по размери на шрифта на текста е 30px и 25px. При елементите: div.focusfon p.text; h1.heading; p.ah и p.bh, width:100% означава, че при преместване на екрана по височина и по ширина, размерите на елементите по ширина няма да се променят по отношение*/
    div.focusfon p.text
    {
        margin:0 auto;
        width:100%;
        font-size: 20px; 
        
        
    }
     h1.heading
    {
        margin:0 auto;
        width:100%;
        font-size: 30px;
    }
    p.ah
    {
        margin:20 auto;
        width:100%;
        font-size: 30px;
    }
    p.bh
    {
        margin:20 auto;
        width:100%;
        font-size: 25px;
    }
}
@media (min-width:461px) 
{
    /*Когато размерите на приложението при определен екран е от минималното 461px ширина елемента div.focusfon ще се вмъкне в приложението с височина и ширина по 25px и ще промени размерите на шрифта на елементите p.text на 25px*/
    div.focusfon 
    {  
        font-size: 25px;
        padding: 25px;
    }
   
}
@media (min-width:501px) 
{
    /*Когато размерите на приложението при определен екран е минимално от 501px елементите h1.heading, p.ah, p.bh с размери на шрифта на текста 50px, 40px, 35px*/
    h1.heading
    {
        font-size: 50px;
    }
    p.ah
    {
        
        font-size: 40px;
    }
    p.bh
    {
        
        font-size: 35px;
    }
}
@media (min-width:0px) 
{
    /*Когато размерите на приложението при определен екран е от минималното 0px на елемента div.focusfon ще се вмъкне в приложението на с височина и ширина по 20px и ще промени размерите на шрифта на елементите p.text на 25px*/
    div.focusfon 
    {
        
        font-size: 25px;
        padding: 20px;
       
    }
   
}
@media (max-width:370px) 
{
    /*Когато размерите на приложението при определен екран е максимално до 370px ширина елемента div.focusfon в него елементите p.text да са с размери на шрифта на текста 15px и да могат да се вмъкват в приложението по ширина на дясно с 50px и елемента h1.heading да не се премества по ширина на посока на ляво*/ 
    div.focusfon p.text
    {
        font-size: 15px; 
        padding-right:50px;
    }
    h1.heading
    { 
        margin-left: 0px;
        
    }
}