@media(max-width: 909px)
{
   /*Когато размерите на приложението при определен екран е максимално до 909px ширина ще направи елементa div#divurlshorter да се премества различно по ширина и да не се премества по височина. При елементa div#divurlshorter, width:100% означава, че при преместване на екрана по височина и по ширина, размерите на елемента по ширина няма да се променят по отношение*/
    div#divurlshorter
    {     
        width: 100%;
        margin: 0 auto;
    }
}
@media (min-width:0px) 
{
   /*Когато размерите на приложението при определен екран е минимално от 0px ширина до накаква крайна граница ще се премества различно по ширина и не се премества по височина. При елемента: div#divurlshorter, width:100% означава, че при преместване на екрана по височина и по ширина, размерите на div#divurlshorter по ширина няма да се променят по отношение*/ 
    div#divurlshorter
    {     
        width: 100%;
        margin: 0 auto;
    }
   
}
@media (min-width:910px) 
{
    /*Когато размерите на приложението при определен екран е минимално от 910px ширина до безкрай ще определи при елемента div#divurlshorter да има постоянни размери на ширина 900px и да се премества различно по ширина и да не се премества по височина*/
    div#divurlshorter
    {     
        width: 900px;
        margin: 0 auto;
    }
   
}
@media (max-width:460px)
{
    /*Когато размерите на приложението при определен екран е максимално до 460px при елемента h1.heading да се премества различно по ширина и да не се премества по височина, с размери на шрифта на текста 30px и width:100% означава, че при преместване на екрана по височина и по ширина, размерите на елемента по ширина няма да се променят по отношение*/
    h1.heading
    {
        margin:0 auto;
        width:100%;
        font-size: 30px;
    }
}
@media (min-width:501px)
{
    /*Когато размерите на приложението при определен екран е максимално до 460px при елемента h1.heading с размери на шрифта на текста 50px */
    h1.heading
    {
        font-size: 50px;
    }
}
@media (max-width:370px) 
{
    /*Когато размерите на приложението при определен екран е максимално до 460px при елемента h1.heading се намира най-лявата част на приложението */
    h1.heading
    { 
        margin-left: 0px;      
    }
}
@media (min-width:420px) 
{
    /*Когато размерите на приложението при определен екран е минимално от 420px, размерите по ширина на елемента input#writelongurl е 410px*/
    input#writelongurl
    {
       width:410px;
       
    }
}

@media (max-width:419px)
{
    /*Когато размерите на приложението при определен екран е максимално до 419px, елемента input#writelongurl е с ширина 95% от целия елемент при определяне на отношение и да може при промяна на размерите на екрана, да се премества елемента различно по ширина и да не се премества по височина*/
    input#writelongurl
    {
       width:95%;
       margin:0 auto;
    }
}

@media (max-width:300px) 
{
   /*Когато размерите на приложението при определен екран е максимално до 300px ширина ще направи елемента input#writelongurl да се премества различно по ширина, а не да се премества по височина. А елементите button#feer2, input#writelongurl са с размери на шрифта на текста 25px, 20px, 20px, 15px. При елемента: input#writelongurl, width:95% означава, че при преместване на екрана по височина и по ширина, размерите на input#writelongurl, по ширина малко по-малки ще са по началното им отношение*/
    input#writelongurl
    {
        margin:0 auto;
        width:95%;
        font-size: 15px;
    }
    button#feer2{
        font-size:20px;
    }
   
}

@media (max-width:242px) 
{
    /*Когато размерите на приложението при определен екран е максимално до 242px ширина button#feer2 ще се премества различно по ширина, а не да се премества по височина и размерите на шрифта на текста да е 20px. При елемента: button#feer2, width:95% означава, че при преместване на екрана по височина и по ширина, размерите на button#feer2 по ширина малко по-малки ще са по началното им отношение*/
    button#feer2
    {
        margin:0 auto;
        width:95%;
        font-size:20px;
    } 
   
}
@media (min-width:401px) 
{
    /*Когато размерите на приложението при определен екран е минимално от 401px, p#shortURL ще остане с постоянния си размер на шрифта на текста, който е 30px*/
    p#shortURL
    {
        font-size:30px;
    }
}
@media (max-width:400px) 
{
    /*Когато размерите на приложението при определен екран е максимално до 400px, p#shortURL ще остане с постоянния си размер на шрифта на текста, който е 25px*/
    p#shortURL
    {
        font-size:25px;
    }
}
@media (max-width:310px) 
{
    /*Когато размерите на приложението при определен екран е максимално до 310px, p#shortURL щрифта ще се промени на 20px*/
    p#shortURL
    {
        font-size:20px;
    }
}

@media (min-width:301px) 
{
    
   /*Когато размерите на приложението при определен екран е минимално от 301px. button#feer2 ще стане размери на шрифта на текста 25px. input#writelongurl ще стане размери на щрифта на текста 20px.*/
    button#feer2{
        font-size:25px;
    }
    input#writelongurl
    {
       
        font-size: 20px;
    }
    
}

